<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View User</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/stylesheet.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'login/js/jQuery.js' %}"></script>
</head>
<body>
    <div id="wrapper">
        <div class="header">
            <h1 class="title">User: {{user.first_name}}</h1>
            <p class="nav-bar"><a href="/logout">Logout</a> | <a href="/BadData">Home: Puzzle Select</a></p>
        </div>
        <div class="row">
            <div class="col-2 menu">
            </div>
            <div class="usermade_puzzles col-8">
                <div class="user_info">
                    <h3>Total Puzzles Made: {{count}}</h3>
                    <h3>Puzzles Made:</h3>
                </div>
                <ul>
                {% for puzzle in puzzles %}
                    <li class="link col-6" href="/BadData/puzzle/{{puzzle.id}}"><a href="/BadData/puzzle/{{puzzle.id}}">
                        <h3><span style="color:rgb(5, 43, 148)">{{puzzle.name}}</span></h3>
                        <p><span style="color:white">Created On:</span> {{puzzle.created_at|date:'m-d-Y'}}</p></a>                        
                        <p><span style="color:white">Difficulty:</span> {{puzzle.difficulty}}/10</p>
                        <p><span style="color:white">User Rating:</span> {{puzzle.quality_rating}}/10</p>
                        <p><span style="color:white">Total Ratings:</span> {{puzzle.times_rated}}</p>                        
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-2 right">
            </div>
        </div>
        

    </div>
</body>
</html>



















