<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home/Puzzle Select</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'puzzles/css/stylesheet.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'puzzles/js/jQuery.js' %}"></script>
</head>

<body>
    <div id="wrapper">
        <div class="header">
            <h1 class="title" style="font-size: 40px"><span style="color: rgb(255, 0, 0); font-style: oblique;">Bad</span>DATA</h1>
            <p class="title">Welcome: {{user.first_name}}</p>
            <p class="nav-bar"><a href="/logout">Logout</a> | <a href="/user_info/{{user.id}}">User Info</a></p>
        </div>
        <div class="row">
            <div class="default-puzzles col-6 menu">
                <h2 class="title">Default Puzzles</h2>
                <ul>
                    {% for puzzle in adminPuzzles %}
                        <li class="link col-6" href="/BadData/puzzle/{{puzzle.id}}"><a href="/BadData/puzzle/{{puzzle.id}}"><span style="color:white">{{puzzle.name}}</span> Play</a></li>
                    {% endfor %}
                    <li class="col-6"><a href="/BadData/puzzle/1/win"><span style="color:white">Win Puzzle Temp</span> Play</a></li>
                </ul>
            </div>
            <div class="col-6">
                <h2 class="title">User Created Puzzles</h2>
                <div class="order">
                    <p><a href="/BadData/date">Date Created</a> | <a href="/BadData/difficulty">Difficulty</a> | <a href="/BadData/rating">User Rating</a> | <a href="/BadData/title">Title</a></p>  
                </div>
                <div class="user-puzzles">
                    {% for puzzle in userPuzzles %}
                        <div class="user-created-puzzle link col-6" href="/BadData/puzzle/{{puzzle.id}}">
                            <p>{{puzzle.name}}</p>
                            <p>Difficulty: {{puzzle.difficulty}}/10 | User Rating: {{puzzle.quality_rating}}/10</p>
                            <p>Created: {{puzzle.created_at|date:'m-d-Y'}}</p>
                            <p>Made By: <a href="/user_info/{{puzzle.creator.id}}">{{puzzle.creator.first_name}}</a></p>
                        </div>
                    {% endfor %}
                    <div class="user-created-puzzle link col-6" href="/BadData/puzzle/1">
                        <p>Name ----{{puzzle.name}}</p>
                        <p>{{puzzle.difficulty}}-/10</p>
                        <p>Created: {{puzzle.created_at|date:'m-d-Y'}}</p>
                        <p>Made By: <a href="/user_info/1">name{{puzzle.creator.first_name}}</a></p>
                    </div>
                </div>
                <div class="create-puzzle">
                    <h2>Create Puzzle</h2>
                    <p>Make your own custom puzzle to challenge your friends or other players.</p>
                    <a href="/BadData/create_puzzle">Create Puzzle</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>