<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Puzzle</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'puzzles/css/stylesheet.css' %}">
    <script src="{% static url %}"></script>    
    <script src="{% static 'puzzles/js/puzzle.js' %}"></script>
    <script>
        $(document).ready(function () 
        {
            documentReady("{{number}}");
        });
    </script>
</head>
<body>
    <div id="wrapper">
        <div class="header">
            <h1 class="title">{{puzzle.name}}</h1>
            <p class="nav-bar"><a href="/BadData/puzzle/{{puzzle.id}}">Reset Puzzle</a> | <a href="/BadData">Home: Puzzle Select</a></p>
        </div>
        <div class="variable-table col-6">
            <table>
                <thead>
                    <tr class="columnDef">
                    </tr>
                </thead>
                <tbody class="stuff">
                </tbody>
            </table>
            <input type="submit" value="Submit" class="submit btn">
        </div>
        <div class="graphs col-6">
            <div class="variable-graph" id="variable-graph">
            </div>
            <div class="origin-graph" id="origin-graph">
            </div>
        </div>
    </div>
</body>
</html>
