<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home/Puzzle Select</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'puzzles/css/stylesheet.css' %}">
</head>

<body>
    <div id="wrapper">
        <div class="header">
            <h1>Congrats!</h1>
        </div>
        <div class="row">
            <div class="col-3 menu">
            </div>
            <div class="puzzle-info col-6">
                <h2>BadData puzzle )puzzle name( Solved!</h2>
                <h3>Puzzle Made By: )User Name(</h3>
                <br>
                <br>            
                <h3>Your Time: ----</h3>
                <h3>Average Time: ----</h3>
                <br>
                <h3>Rank Difficulty: -/10</h3>
                <a href="/puzzle/{{user_id}}">Rank</a>
            </div>
            <div class="col-3 right">
            </div>
        </div>
        <div class="footer">
            <p><a href="/create_puzzle">Make Your own Puzzle</a> | <a href="/">Back to Puzzle Select</a></p>
        </div>
    </div>
</body>

</html>